@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Coiny&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Sigmar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  font-family: "Oswald", sans-serif;
  height: 100vh;
  background-image: url("../images/bannerblog.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.hero-section .content {
  font-family: "Oswald", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}
.hero-section .content h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}
.hero-section .content p {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}
.hero-section .content button {
  background: #fff;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.hero-section .content button:hover {
  color: #fff;
  background: #c06b3e;
}
#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}
#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  header {
    padding: 10px;
  }
  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }
  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-btn,
  #close-menu-btn {
    display: block;
  }
  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #ffffff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }
  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }
  .navbar a {
    color: #000;
  }
  .hero-section .content {
    text-align: center;
  }
  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }
  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }

  .hero-section .content button {
    padding: 9px 18px;
  }
}
.text-b {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: rgb(207, 141, 91);
}
.text-c {
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  font-style: normal;
  color: rgb(71, 50, 33);
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5 ease;
}
.about-image:hover img {
  transform: scale(1.2);
}
.about-content {
  flex: 1;
}
.about-content h2 {
  font-family: "Oswald", sans-serif;
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.about-content p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p {
    padding: 0px;
    font-size: 16px;
  }
}

.img-blog-3 {
  width: 100%;
}
